#whatsapp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#whatsapp-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: transform 0.3s;
}

#whatsapp-icon:hover {
  transform: scale(1.1);
}
