*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
}

.encabezado{
    width: 100%;
    height: 20vh;
   font-family: 'Poppins', sans-serif;
   background-color: #FFEBF9;
}

.titulo{
    position: absolute;
    left: 60%;
    top: -15px;
    font-size: 55px;
    color: white;
   font-family: 'Poppins', sans-serif;
  
}

.titulo a:hover{
  color: #ef45a8;
}

.img{
    width: 100px;
    height: 100px;
    right: 90%;
    position: absolute;
    margin-top: 13px;
}

.slogan{
    left: 10%;
    position: absolute;
    top: 25px;
    font-family: "Poppins", sans-serif;
}

.DESCUBRE{
left: 10%;
    position: absolute;
    top: 85px;
    font-size: 10px;
    color:  #E3A8BD;
   font-family: 'Poppins', sans-serif;
}

.cart {
  position: absolute;  
  top: 40px;           
  right: -130px;         
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: auto;
}

.cart_2{
  position: absolute; 
  top: 40px;          
  right: -70px;        
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: auto;
}


.footer-2{
  text-align: center;
}
 
.imagenes{
  width: 35px ;
  height: 35px;
}


.copyright{
  margin-top: 10px;
  margin-left: 480px;
  color: #000;
}
.footer {
  background-color: #f5d3ea;
  color: #fff; 
  padding: 30px 0;
  font-family: Arial, sans-serif;
  height: 100px;
}

 #whatsapp-link {
    position: fixed; 
    bottom: 20px;    
    right: 20px;     
    z-index: 1000;   
}

#whatsapp-icon {
    width: 70px;     
    height: 70px;   
    border-radius: 50%;  
}
