*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.encabezado{
    width: 100%;
    height: 20vh;
   font-family: 'Poppins', sans-serif;
   background-color: #FFEBF9;
}

.titulo{
    position: absolute;
    left: 60%;
    top: -15px;
    font-size: 55px;
    color: white;
   font-family: 'Poppins', sans-serif;
  
}

.titulo a:hover{
  color: #ef45a8;
}

.img{
    width: 100px;
    height: 100px;
    right: 90%;
    position: absolute;
    margin-top: 13px;
}

.slogan{
    left: 10%;
    position: absolute;
    top: 25px;
    font-family: "Poppins", sans-serif;
}

.DESCUBRE{
left: 10%;
    position: absolute;
    top: 85px;
    font-size: 10px;
    color:  #E3A8BD;
   font-family: 'Poppins', sans-serif;
}

.botones-contenedor {
  display: flex;
  justify-content: center;      
  gap: 250px;                  
  margin-top:0px;
  position: absolute;
  top: 20%;  
  left: 30%;
}

.img-principal{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
}

.img-modelo{
    width: 23%;
    height: 400px;
    margin-top: 50px;
    margin-left: 80px;
}

.text{
    margin-left: 500px;
    margin-top: -260px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.texto-1{
    margin-left: 700px;
    margin-top: 8px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.descuento{
    margin-top: 270px;
    margin-left: 750px;
    font-size: 23px;
    height: 45px;
    width: 28%;
    background-color: #FFE6F6;
    border: none;
    font-family: "Poppins", sans-serif;
}

.producto-promo{
    display: flex;
    justify-content: center;  
    gap:20px;     
    padding: 12px;            
    width: 100%;       
}

.tamaño1{
    width: 18%;
    height: 75vh;
    margin-left: 100px;
    margin-top: 200px;
}

.texto-h1{
    margin-left: 70px;
    margin-top: 15px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.precios1{
    margin-left: 150px;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.tamaño2{
    position: relative;
    width: 18%;
    height: 75vh;
    margin-left: 500px;
    top: -550px;
    border: 1px solid black;
}

.texto-h2{
    margin-left: 500px;
    position: relative;
    top: -540px;
    font-size: 30px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
}

.promociones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 200px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.promo {
  background:  white;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  
}

.promo img {
  width: 40px;
  margin-bottom: 10px;
}

.btn-descuento {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color:   #d33e96;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.btn-descuento:hover {
  background-color: #e48abe;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  top: -150px;
}

.producto {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.precio-anterior {
  text-decoration: line-through;
  color: #d33e96;
  font-size: 14px;
}

.precio-ahora {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.btn-comprar {
  padding: 10px 15px;
  background-color:  #FFEBF9;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.cart {
  position: absolute;  
  top: 40px;           
  right: -130px;         
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: auto;
}

.cart_2{
  position: absolute; 
  top: 40px;          
  right: -70px;        
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: auto;
}
.footer {
  background-color: #f5d3ea;
  color: #fff; 
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
  height: 100px;
}

.contenedor-boton {
  display: flex;
  justify-content: center;  
  margin-top: -70px;         
  margin-bottom: 30px;      
}


.boton {
  padding: 10px 20px;
  background-color: #f7c0e5;;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

.boton:hover {
  background-color: #e48abe;
}


.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px 0;
}

.footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.copyright {
  font-size: 12px;
  color: #aaa;
}

.footer-2{
  text-align: center;
}
 
.imagenes{
  width: 35px ;
  height: 35px;
}


.copyright{
  margin-top: 10px;
  margin-left: 480px;
  color: #000;
}

 #whatsapp-link {
    position: fixed; 
    bottom: 20px;    
    right: 20px;     
    z-index: 1000;   
}

#whatsapp-icon {
    width: 70px;     
    height: 70px;   
    border-radius: 50%;  
}

