.producto-item {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  transition: transform 0.3s;
}

.producto-item:hover {
  transform: translateY(-5px);
}

.producto-item img {
  width: 100%;
  border-radius: 10px;
}

.producto-item h3 {
  margin: 13px 0 4px;
  font-size: 1.1rem;
  text-align: center;
}

.producto-item h4 {
  box-sizing: border-box;
  margin: 3px;
  text-align: center;
  font-family: 'Lora', serif;
}

.producto-item p {
  margin: 10px 0;
  color: #d33e96;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.precio-normal {
  margin: 10px 0;
  color: #d33e96;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.precio-anterior {
  text-decoration: line-through;
  color: #999;
  font-size: 0.9rem;
  margin: 5px 0;
  text-align: center;
}

.precio-anterior span {
  color: #999;
}

.precio-ahora {
  font-weight: bold;
  color: #d33e96;
  font-size: 1.3rem;
  margin: 5px 0 15px;
  text-align: center;
}

.btn-agregar-carrito {
  width: 100%;
  padding: 10px 15px;
  background-color: #d33e96;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.btn-agregar-carrito:hover {
  background-color: #e48abe;
}
