@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Lora&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
}

.productos-lista {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px 0;
}
